    <h1>Add A New Movie</h1>

    <form action="http://localhost:3000/directors">
      <div>
        <label for="title">Name:</label>
        <input id="title" type="text" name="the_name">
      </div>
      <div>
        <label for="director_image_url">Image URL:</label>
        <input id="director_image_url" type="text" name="the_source">
      </div>
      <div>
        <label for="director_dob">Date of Birth:</label>
        <input id="director_dob" type="text" name="the_dob">
      </div>
      <div>
        <label for="director_bio">Bio:</label>
        <input id="director_bio" type="text" name="the_bio">
      </div>


      <div>
        <button>Create Director</button>
      </div>
    </form>
